https://pynative.com/python-basic-exercise-for-beginners/

# Exercise 11: Get each digit from a number in the reverse order.
For example, If the given integer number is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

Given:

number = 7536

Output 6 3 5 7

In [10]:
number = 7536
int(str(number)[::-1])

6357

# Exercise 12: Calculate income tax
Calculate income tax for the given income by adhering to the rules below

Taxable Income	Rate (in %)

First $10,000	0

Next $10,000	10

The remaining	20

Expected Output:

For example, suppose the income is 45000, and the income tax payable is

10000 * 0% + 10000 * 10%  + 25000 * 20% = $6000

In [37]:
def income_tax(income):
    tax = 0
    if income <=10000:
        tax = 0
    elif income <= 20000:
        x = income - 10000
        tax += x * 10/100
    else:
        x = income - 20000
        tax += x * 20/100
    return tax

print(f"income tax payable is",income_tax(45000))

income tax payable is 5000.0

In [46]:
def income_tax(income):
    tax = 0
    
    if income > 10000:  # Income above first slab
        if income > 20000:  # Income above second slab
                tax += 10000 * 10/100
                tax += (income - 20000) * 20/100
        else:
            tax += (income - 10000) * 10/100
    return tax


# Example usage
print("Income tax payable is", income_tax(15000))  # 6000
print("Income tax payable is", income_tax(45000))  # 15000

Income tax payable is 500.0
Income tax payable is 6000.0

# Exercise 13: Print multiplication table from 1 to 10
The multiplication table from 1 to 10 is a table that shows the products of numbers from 1 to 10.

Write a code to generates a complete multiplication table for numbers 1 through 10.

Expected Output:

1  2 3 4 5 6 7 8 9 10

2  4 6 8 10 12 14 16 18 20 	

3  6 9 12 15 18 21 24 27 30 	

4  8 12 16 20 24 28 32 36 40 		

5  10 15 20 25 30 35 40 45 50 		

6  12 18 24 30 36 42 48 54 60 		

7  14 21 28 35 42 49 56 63 70 		

8  16 24 32 40 48 56 64 72 80 		

9  18 27 36 45 54 63 72 81 90 		

10 20 30 40 50 60 70 80 90 100

In [55]:
for i in range(1,11):
    for num in range (1,11):
        number = i*num
        print(number,end = " ")
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

# Exercise 14: Print a downward half-pyramid pattern of stars

### * * * * *  

### * * * *  

### * * *  

### * *  

### *

In [78]:
for i in range(5,0,-1):
    for j in range(0,i):
        print("*",end = " ")
    print("")

* * * * *
* * * *
* * *
* *
*

In [73]:
for i in range(6, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

# Exercise 15: Get an int value of base raises to the power of exponent
Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

Note here exp is a non-negative integer, and the base is an integer.
Expected output
Case 1:
base = 2
exponent = 5
2 raises to the power of 5: 32 i.e. (2 *2 * 2 *2 *2 = 32)

Case 2:
base = 5
exponent = 4
5 raises to the power of 4 is: 625 
i.e. (5 *5 * 5 *5 = 625)

In [84]:

def exponent(base,exp):

    return base**exp

base = int(input("Enter the base:"))
exp = int(input( "Enter the exp:"))
print(f"{base} raises to the power of {exp} :",exponent(base,exp))

Enter the base: 2
Enter the exp: 0

2 raises to the power of 0 : 1